<ion-view title="Settings">
  <ion-content>
	<ul class="list">

	  <li class="item item-toggle">
	     Epic Accuracy
	     <label class="toggle toggle-assertive">
	       <input checked="true" type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     NSA Location stream
	     <label class="toggle toggle-assertive">
	       <input checked="true" type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Battery drain
	     <label  class="toggle toggle-assertive">
	       <input checked="true" type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Fake locations
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	</ul>
  </ion-content>
</ion-view>
